@()
   	<form class="form-horizontal">
	    <div class="panel-group">
	        <div class="panel panel-default">
		        <p class="pull-right">
				    <button type="submit" class="btn btn-primary btn-sm" ng-click="onSearch()">Search</button>
				    <button type="submit" class="btn btn-primary btn-sm" ng-click="onClear()">Clear</button>
				</p>
			</div>
		</div>

	    <div class="panel-group">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a class="accordion-toggle-left" data-toggle="collapse" href="#collapseOne">Accordion 1</a>
	                </h4>
	            </div>
	            <div id="collapseOne" class="panel-collapse collapse in">
	                <div class="panel-body">
					        <div class="form-group">
					            <label for="inputEmail" class="control-label col-xs-2">Field 1</label>
					            <div class="col-xs-10">
					                <input type="email" class="form-control" id="inputEmail" placeholder="Field 1">
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="inputPassword" class="control-label col-xs-2">Field 2</label>
					            <div class="col-xs-10">
					                <input type="password" class="form-control" id="inputPassword" placeholder="Field 2">
					            </div>
					        </div>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a class="accordion-toggle-left collapsed" data-toggle="collapse" href="#collapseTwo">Accordion 2</a>
	                </h4>
	            </div>
	            <div id="collapseTwo" class="panel-collapse collapse">
	                <div class="panel-body">
	                    <p>Accordion 2 content</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a class="accordion-toggle-left collapsed" data-toggle="collapse" href="#collapseThree">Accordion 3</a>
	                </h4>
	            </div>
	            <div id="collapseThree" class="panel-collapse collapse">
	                <div class="panel-body">
	                    <p>Accordion 3 content</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a class="accordion-toggle-left collapsed" data-toggle="collapse" href="#collapseFour">Accordion 4</a>
	                </h4>
	            </div>
	            <div id="collapseFour" class="panel-collapse collapse">
	                <div class="panel-body">
	                    <p>Accordion 4 content</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div class="panel-group">
	        <div class="panel panel-default">
		        <p class="pull-right">
				    <button type="submit" class="btn btn-primary btn-sm" ng-click="onSearch()">Search</button>
				    <button type="submit" class="btn btn-primary btn-sm" ng-click="onClear()">Clear</button>
				</p>
			</div>
		</div>
    </form>		                    
