@()
<div class="panel panel-default">

    <div class="panel-group" id="searchpanelaccordion1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle-right" data-toggle="collapse" data-parent="#searchpanelaccordion1" href="#searchpanelcollapse1">Search ID</a>
                </h4>
            </div>
            <div id="searchpanelcollapse1" class="panel-collapse collapse in">
                <div class="panel-body">
					@search.form1()                
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="searchpanelaccordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle-right" data-toggle="collapse" data-parent="#searchpanelaccordion2" href="#searchpanelcollapse2">Search</a>
                </h4>
            </div>
            <div id="searchpanelcollapse2" class="panel-collapse collapse in">
                <div class="panel-body">
					@search.form2()                
                </div>
            </div>
        </div>
    </div>

</div>