body {
    padding-top: 0px;
}

.panel-heading .accordion-toggle-right:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle-right.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading .accordion-toggle-left:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e134";    /* adjust as needed, taken from bootstrap.css */
    float: left;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    margin-right: 5px;
}
.panel-heading .accordion-toggle-left.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e131";    /* adjust as needed, taken from bootstrap.css */
}

.container-full {
  margin: 10px;
  width: 95%;
}

/* For ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.icon-prefix {
	margin-right:10px;
}

.small-label {
	font-size:90%;
}
