@()

@main("My App") {
} {
    <div class="center-block text-center">
        <h1>Home Page</h1>
        <p>This application uses angularjs, bootstrap and java</p>
    </div>
    
    <hr>
    
    <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tab 1</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tab 2</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Tab 3</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  
    <div role="tabpanel" class="tab-pane active" id="home">Tab 1 Content ...</div>
    	
    <div role="tabpanel" class="tab-pane" id="profile">
		<div class="container">
		    <div class="panel panel-default">
		        <div class="row">
		            <div class="col-lg-5 col-md-5 col-sm-5">
		                <div class="panel panel-default">
		                    <div class="panel-heading">panel 1</div>
		                    
	                        <form class="form-horizontal">
						        <div class="form-group">
						            <label for="inputEmail" class="control-label col-xs-2">Field 1</label>
						            <div class="col-xs-10">
						                <input type="email" class="form-control" id="inputEmail" placeholder="Field 1">
						            </div>
						        </div>
						        <div class="form-group">
						            <label for="inputPassword" class="control-label col-xs-2">Field 2</label>
						            <div class="col-xs-10">
						                <input type="password" class="form-control" id="inputPassword" placeholder="Field 2">
						            </div>
						        </div>
						        <div class="form-group">
						            <div class="col-xs-offset-2 col-xs-10">
						                <div class="checkbox">
						                    <label><input type="checkbox"> Checkbox 1</label>
						                </div>
						            </div>
						        </div>
						        <div class="form-group">
						            <div class="col-xs-offset-2 col-xs-10">
						                <button type="submit" class="btn btn-primary" ng-click="onSearch()">Search</button>
						            </div>
						        </div>
						    </form>		                    
		                    
		                </div>
		            </div>
		            <div class="col-lg-7 col-md-7 col-sm-7">
		                <div class="panel panel-default">
		                    <div class="panel-heading">panel 2 {{searchResults}}</div>
		                    
		                    <table class="table table-striped">
						        <thead>
						            <tr>
						                <th>First Name</th>
						                <th>Last Name</th>
						                <th>Grades</th>
						            </tr>
						        </thead>
						        <tbody>
						        	<tr ng-repeat="row in student.records">
						        		<td>{{row.firstName}}</td>
						        		<td>{{row.lastName}}</td>
						        		<td>
						        			<table class="table table-striped">
											<tr ng-repeat="subject in row.subjects">
								                <td>{{subject.name}}</td>
								                <td>{{subject.marks}}</td>
											</tr>
											</table>
										</td>
						        	</tr>
								</tbody>
						    </table>		                    
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
    </div>
    
    <div role="tabpanel" class="tab-pane" id="messages">Tab 3 Content</div>
    
  </div>

</div>
}