@()

@main("My App") {
} {
	@navpanel()
} {
    <div class="text-left">
        <h3>APPLICATION TITLE</h3>
    </div>
    
    <hr>


	<div class="container-fluid" ng-app="app" ng-controller="mainController">
	    <div class="panel panel-default">
	        <div class="row">
	            <div class="col-lg-4 col-md-4 col-sm-4">
	            	@search.searchpanel()
	            </div>
	            <div class="col-lg-8 col-md-8 col-sm-8">
	            	@results.resultspanel()
	            </div>
	        </div>
	    </div>
	</div>


}