@()

@main("My App") {
} {
    <div class="center-block text-center">
        <h1>Home Page</h1>
        <p>This application uses angularjs, bootstrap and java</p>
    </div>
    
    <hr>
    
	<div class="container">
	    <div class="panel panel-default">
	        <div class="row">
	            <div class="col-lg-5 col-md-5 col-sm-5">
	            	@search.searchpanel()
	            </div>
	            <div class="col-lg-7 col-md-7 col-sm-7">
	            	@results.resultspanel()
	            </div>
	        </div>
	    </div>
	</div>
}