@(title: String)(headContent:Html)(header: Html)(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="app">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        @headContent

    </head>
    
    <body ng-controller="mainController">
    
    	@header

        <div class="container-full">

            @content

        </div>

    	<script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript" ></script>
    	<script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript" ></script>
    	<script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.12.1.js")" type="text/javascript" ></script>
    	<script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript" ></script>
    	<script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript" ></script>

    </body>
</html>
