@()
<div class="panel panel-default">
	<div class="panel-heading">panel 1</div>
                
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Accordion 1</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                       <form class="form-horizontal">
				        <div class="form-group">
				            <label for="inputEmail" class="control-label col-xs-2">Field 1</label>
				            <div class="col-xs-10">
				                <input type="email" class="form-control" id="inputEmail" placeholder="Field 1">
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="inputPassword" class="control-label col-xs-2">Field 2</label>
				            <div class="col-xs-10">
				                <input type="password" class="form-control" id="inputPassword" placeholder="Field 2">
				            </div>
				        </div>
				        <div class="form-group">
				            <div class="col-xs-offset-2 col-xs-10">
				                <div class="checkbox">
				                    <label><input type="checkbox"> Checkbox 1</label>
				                </div>
				            </div>
				        </div>
				        <div class="form-group">
				            <div class="col-xs-offset-2 col-xs-10">
				                <button type="submit" class="btn btn-primary" ng-click="onSearch()">Search</button>
				            </div>
				        </div>
				    </form>		                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Accordion 2</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Accordion 2 content</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Accordion 3</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Accordion 3 content</p>
                </div>
            </div>
        </div>
    </div>
                
</div>